@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
}

header,
h1 {
  padding-top: 50px;
  /*text-transform: uppercase; deixa a palavra toda em letras maiusculas*/
  font-variant: small-caps;
}

header,
p {
  padding-bottom: 50px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

section.normal {
  background-color: #fff;
  color: #000;
}

section.imagem {
  background-color: rgb(93, 91, 91);
  color: #fff;
}

footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 10px;
}
