@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --fonte1: verdana, Geneva, Tahoma, Sans-Serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--fonte1);
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
}

header,
h1 {
  padding-top: 50px;
  /*text-transform: uppercase; deixa a palavra toda em letras maiusculas*/
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 10vw;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

p#link {
  font-size: 5vw;
  font-weight: 400;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fonte3);
  font-size: 3vw;
}

section > p {
  padding-bottom: 2em;
}

section.normal {
  background-color: #fff;
  color: #000;
}

section.imagem {
  background-color: rgb(93, 91, 91);
  color: #fff;
  box-shadow: inset 6px 6px 13px 0px #000;
  background-attachment: fixed; /* fixa a imagem ao fundo*/
}

section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.582);
  text-shadow: 2px 2px 1.5px #000;
}

section#img01 {
  background-image: url(imagens/background001.jpg);
  background-position: right;
  background-size: cover;
}

section#img02 {
  background-image: url(imagens/background002.jpg);
  background-position: right;
  background-size: cover;
}

footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 10px;
}
